<ion-header>
  <ion-navbar color="ulpgc">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ULPGC</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item text-wrap *ngFor = "let n of news">
      <h2 class="title">{{n.title}}</h2>
      <div class="separator"></div>
      <p>{{n.author }}</p>
      <ion-thumbnail item-right *ngIf="n.image">
        <img src="{{n.image}}">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>
