// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.logoUlpgc{
    width: 50%;
    margin-top: 10px;
}

.ulpgc{
    background: linear-gradient(#002f67, #395d89);
}

.sections ion-label.label.label-md{
    color: #002f67;
}

 .item.wrap, .item-content.wrap{
        white-space: normal;
    }
    
.newsTitle{
    font-weight: 500 !important;
}

.separator{
    border-top-style: solid;
    border-width: 0.5px;
    width: 60px;
    margin: 10px 0 5px 0px;
}


ion-thumbnail img{
    width: 100px !important;
    height: 70px !important;
}

.importantNews{
    margin: 0px 0px 10px 0px !important;
    width: 100% !important;
}

ion-card-title{
    font-size: 2.3rem !important;
    font-weight: 500;
}

ion-card-content{
    background-color: #dedede;
    border-top: solid #002f67;
}

@media screen and (max-width : 1024px) {
    #login{
        display: none;
    }
}