page-edit-news {
    .nav-title{
        line-height: 62px;
    }
    
    .logoUlpgc{
        width: 100%;
    }

    ion-label{
        color: black !important;
    }
    textarea{
        height: 300px;
    }
    .hidden-input{
        opacity: 0;
        height: 50px;
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }
}
