.popover-page {
  
  ion-row,
  ion-col {
    padding: 0;
  }

  .text-button {
    padding-left: 0;
    text-align: center;
    min-height: 20px;
    line-height: 18px;
  }

  .text-button .item-inner {
    padding-right: 0 !important;
  }

  .small-text {
    font-size: 12px !important;
  }

  .large-text {
    font-size: 16px !important;
  }

  .text-arial {
    font-family: "Arial, sans-serif";
  }

  .text-casual {
    font-family: "Casual, Comming Soon";
  }

  .text-courier {
    font-family: "Cutive Mono, monospace";
  }

  .text-times-new-roman {
    font-family: "Times New Roman, serif";
  }

  .text-monaco {
    font-family: "Droid Sans Mono, sans-serif";
  }

}
