page-admin {
    .nav-title{
        line-height: 62px;
    }

    .table-news{
        margin-top: 30px;
    }
    .header{
        border-bottom: solid black;
    }
    .news .col{
        margin-top: 10px;
        font-size: 18px;
        font-family: 'Droid Sans', sans-serif;  
    }
    .log-out{
        color: white;
    }
    .logoUlpgc{
        width: 100%;
    }
}
